.main-content {
    display: flex;
    flex-wrap: wrap;
}

.section-description {
    display: flex;
    margin-top: 30px;
}

.section-title {
    margin-right: 15px;
}

.section-title h1.title {
    font-size: 64px;
    border-right: 6px solid var(--green);
    width: 475px;
}

.section-title h1.title span {
    color: var(--green);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-paragraph {
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-weight: 700;
    font-size: 18px;
    color: var(--black);
}

.photo-top {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.photo-top > img {
    border-radius: 15px;
    border: 3px solid var(--green);
}

.Welcome {
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.text-welcome {
    font-size: 80px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
    color: var(--green);
    font-style: italic;
}

.final-page {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.text-finalpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 17px;
    font-weight: bold;
    font-style: italic;
}