.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--green);
    outline: 1px solid var(--green);
    backdrop-filter: blur(10px);
}

.header-nav {
    display: none;
}

.header-menu {
    display: flex;
    align-items: center;
    width: 30px;
    height: 50px;
    margin-right: 10px;
    cursor: pointer;
}

.header-menu{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.header-menu img{
    margin-right: 10px;
}

.header-menu:hover img {
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

.icon {
    cursor: pointer;
}

.menu.close {
    display: none;
}

.menu.show {
    display: block;
}



#options {
    position: relative;
  }
  
#menu-movil {
    position: absolute;
    right: 0;
    top: 74px;
    width: 100px;
    background-color: var(--green);
    padding: 15px;
    text-align: center;
    font-size: 1.2em;
    display: none;
}
  
#menu-movil.show {
    display: block;
}
  
#menu-movil ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
#menu-movil li {
    margin: 20px 0;
}
  
#menu-movil a {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
}
  
#menu-movil a:hover {
    color: var(--black);
}



@media (min-width: 768px) {
    .header {
        display: flex;
        justify-content: space-between;
        background-color: var(--green);
        height: 75px;
        padding: 0 15px;
        margin-bottom: 35px;
    }

    .header-logo {
        display: flex;
        align-items: center;
    }

    .header-nav {
        display: flex;
        align-items: center;
        width: 320px;
    }

    .header-nav ul {
        list-style: none;
        width: 320px;
        display: flex;
        justify-content: space-between;
    }

    .header-menu {
        display: none;
    }

    .header-nav li > a {
        font-family: var(--font);
        text-decoration: none;
        color: var(--white);
        font-weight: bold;
    }
}

@media (min-width: 375px) {
    .header {
        display: flex;
        justify-content: space-between;
        background-color: var(--green);
        height: 75px;
        padding: 0;
        margin-bottom: 35px;
    }
}