.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--green);
    outline: 1px solid var(--green);
    backdrop-filter: blur(10px);
}

.header-nav {
    display: none;
}

.header-menu {
    display: flex;
    align-items: center;
    width: 30px;
    height: 50px;
    margin-right: 10px;
    cursor: pointer;
}

.header-menu{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.header-menu img{
    margin-right: 10px;
}

.header-menu:hover img {
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

.icon {
    cursor: pointer;
}

.menu.close {
    display: none;
}

.menu.show {
    display: block;
    animation: slide-in 0.5s ease-out;
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.header-menu {
    position: relative;
}

.menu-movil {
    position: absolute;
    right: -150px;
    top: 75px;
    width: 115px;
    background-color: rgba(39,102,120,0.8);
    padding: 0px 15px 15px 15px; 
    text-align: center;
    font-size: 20px;
    display: none;
    transition: right 0.5s ease-out;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5);
    outline: 1px solid var(--green)
}

.burger-inicio {
    display: flex;
    justify-content: center;
    width: 126px;
    font-size: 22px;
    font-weight: bold;
    color: var(--white);
    text-decoration: underline;
}

.menu-movil.show {
    right: 0;
    display: block;
}
  
.menu-movil ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.menu-movil li {
    margin: 20px 0;
}
  
.menu-movil a {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
}
  



@media (min-width: 768px) {
    .header {
        display: flex;
        justify-content: space-between;
        background-color: var(--green);
        height: 75px;
        padding: 0 15px;
        margin-bottom: 35px;
    }

    .header-logo {
        display: flex;
        align-items: center;
    }

    .header-nav {
        display: flex;
        align-items: center;
        width: 320px;
    }

    .header-nav ul {
        list-style: none;
        width: 320px;
        display: flex;
        justify-content: space-between;
    }

    .header-menu {
        display: none;
    }

    .header-nav li > a {
        font-family: var(--font);
        text-decoration: none;
        color: var(--white);
        font-weight: bold;
    }
}

@media (min-width: 375px) {
    .header {
        display: flex;
        justify-content: space-between;
        background-color: var(--green);
        height: 75px;
        padding: 0;
        margin-bottom: 35px;
    }
}