@import "./navbar.css";
@import "./wrapper.css";
@import "./main-content.css";
@import "./movies.css";
@import "./footer.css";

:root {
    --black: #202020;
    --white: #F6F5F5;
    --green: #276678;
    --blueoscu: #D3E0EA;
    --font: 'Century Gothic';
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--blueoscu);
    font-family: var(--font);
}